.nav-item {
	color: #FFFFFF;
}
.jumbotron {
	margin-bottom: 0;
}
.slider {
	padding: 0;
}
.mainfooter {
	padding: 0;
	margin: 0;
	padding-top: 20px;
}
.footer {
	padding: 0;
}
.footer .container{
	padding: 0;
	margin: 0;
}
.mapa {
	padding: 0;
}
@media (min-width: 559px) {
	.twitter-timeline {
	max-height: 600px;
	}
}
@media (max-width: 558px) {
	.twitter-timeline {
	max-height: 800px;
	}
}
.content2 {
	margin-top: 120px;
}
.noticias {
	background-image: url("images/bg1.jpg");
}
.container-noticias {
	color: #FFFFFF;
}
.needs-validation img {
	margin-top: -10px;
}
.marketing img{
	max-width: 450px;
}
.marketing .col-12{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 30px;
}
.album {
	padding-right: 48px;
	padding-left: 48px;
}
.blog-post img{
	width: 100%;
	height: auto;
}
.blog-post {
	padding-bottom: 20px;
}
.content1 {
	padding-bottom: 20px;
}