.nav-item {
	color: #FFFFFF;
}
.jumbotron {
	margin-bottom: 0;
}
.slider {
	padding: 0;
}
.mainfooter {
	padding: 0;
	margin: 0;
	padding-top: 20px;
	color: #FFFFFF;
}
.footer {
	padding: 0;
}
.footer .container{
	padding: 0;
	margin: 0;
}
.mapa {
	padding: 0;
}
@media (min-width: 559px) {
	.twitter-timeline {
	max-height: 600px;
	}
}
@media (max-width: 558px) {
	.twitter-timeline {
	max-height: 800px;
	}
}
.noticias {
	background-image: url("images/bg1.jpg");
}